# Learn Jupiter Notebook Easily

In [1]:
#say hello to the world of python
print("HELLO WORLD")

HELLO WORLD

# Source code is an code writen by you it's runs by an interpreter called Python is direct contact with processor ie.machine code like 0 and 1.

# String handling

In [2]:
#string-sets of character in single or double code "",''.
#- this symbol refers an comments line this not an code for an easy use for an coders 
print("Hello Rudhra")
print('hello hi!')

Hello Rudhra
hello hi!

print is an funtion its runs what we given inside an function

In [3]:
print("5265")

5265

In [4]:
print('the perfect 123')

the perfect 123

In [5]:
#Variable
'''its like memory allocation of some letters and character it should not start with an number.
we can change any time
Its assign by an='''
name="rudhra"
print(name)

rudhra

In [6]:
0rudhra="baby"
print(0rudhra)

SyntaxError: invalid decimal literal (2578180788.py, line 1)

In above cell 0 is starting we gets an syntax error it should not come

In [8]:
a="hello"
b="world"
c="rudhra"

In [9]:
print(a,b,c)

hello world rudhra

In [15]:
print(a)
print(b)
print(c)
print("hi"+c)
print("hello" + c)

hello
world
rudhra
hirudhra
hellorudhra

In [16]:
print(a)
print("hello" + c)
print(b)
print(c)
print("hi"+c)

hello
hellorudhra
world
rudhra
hirudhra

#pyhton is an line by line excutes  
#its dynamical typed language

In [17]:
price=45
"we can give any type to assign variable also should accept only '_' this like _rudhra"
sale_price=100
_sum=price + sale_price
print(_sum)

145

In [19]:
#we use any type of operators like
4+5

9

In [20]:
2-3

-1

In [21]:
5*8

40

In [22]:
6/7

0.8571428571428571

In [23]:
5%4

1

In [24]:
# % modulus gives remainder 
6%3

0

# Method

In [25]:
"""its also like an funtion can to specified task but come under dot to call operator."""
a="rudhra"
a.upper()

'RUDHRA'

In [26]:
#see uppper is an method is used to do an small letter to capitalized
a.lower()

'rudhra'

In [28]:
"function can call directly but funtion can invokes by an object or variable with dot symbol"
b="hello rudhra 1000"
b.title()

'Hello Rudhra 1000'

In [31]:
#concade 
"we can only concade string not a interger"
"eg:"
a="hello"
b="world"
print(a+" "+b)

hello world

In [32]:
c=10
print(a+c)

TypeError: can only concatenate str (not "int") to str

In [33]:
print(a+str(c))

hello10

In [35]:
"we can also convert the data type"
a=10
b=100

#its give sum of a and b not to concade
print(a+b)

#change integer to sting data type
a=str(a)
b=str(b)
print(a+b)

#by simple print statement
print(str(a)+str(b))

110
10100
10100

In [36]:
a="happy birthday Rudhra"
a.find(h)

NameError: name 'h' is not defined

In [37]:
"""give inside an parenthes with double quation 
give normal its take has variable"""
a.find("h")

0

In [38]:
#0 is an index value 
#h a p p y   b i
#0 1 2 3 4 5 6 7
a.find("b")

6

In [39]:
a.find(" ")

5

In [40]:
#give not in word give negativevalue
a.find("z")

-1

In [42]:
a.replace("a","f")

'hfppy birthdfy Rudhrf'

In [ ]:
"""search in net for more methods to handle string"""