In [1]:
"""we can also sring the character in mulitples times"""
print("rudhra"*5)

rudhrarudhrarudhrarudhrarudhra

""python use in commaand prompt""

In pyhton also assign multiple variable at the time in single line command

In [11]:
Name,age,height="rudhra",12,167
print(height)

167

In [12]:
boys=girls=100
print(girls)

100

In [13]:
print(boys)

100

# type casting

In [14]:
height=177
print("your height is"+height)

TypeError: can only concatenate str (not "int") to str

In [19]:
"""we can't concatenate number and string use another way is type casting"""
#convert the interger to string
height=177
h=str(height)
print("your height is"+h)

your height is177

In [22]:
print("your height is "+h)

your height is 177

In [23]:
print("your height is "+str(height))

your height is 177

In [24]:
type(height)

int

# In above output we get only temporary string for getting an output not fully

But here is fully converted to assign in variable

In [25]:
type(h)

str

In [26]:
#Data type- string(str),integer(int),boolean(bool),float

In [ ]:
Assignment for you:
    print the following statements in your jupyter notebook
       1, hi name
       2, happy birthday to my mother 
       3, your life time is 2021
       4, year(2000)